$white: #FFFFFF;

$orange:#FF6E30;
$dark-orange: #CE4307;
$brown: #BC572B;

$gentle-grey: #E9E9E9;
$blond-grey: #CACACA;
$light-grey: #999999;
$grey: #4A4A4A;
$dark-grey:#202020;


$TT-text: 'TT Firs Neue', sans-serif;

$m30: 30px;
$m68: 68px;






